// Specific CSS for your home-page

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(170, 184, 194);
}

.info {
  display: flex;
  align-items: center;
  margin: 3px;
}

.info li {
  margin: 3px;
}

.info i {
  margin: 3px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
